body{
	font-family: "Open Sans", sans-serif;
}


/* Navbar */
header{
	background-color: #163B5A;
}


/* BLUE SECTION + LOGO */
.logo_blueSection{
	background-image: url(../img/STEAMnasium_2019/STEAMnasium_Logo_Background.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.STEAMnasium_logo{
	max-width: 100%;
}


/* YELLOW SECTION + GENERAL INFORMATION */
.logo_yellowSection{
	background-color: #EECC6D;
}
.Academic_Festival_header{
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	color: #163B5A;
}
.MST_Department_header{
	font-family: "Montserrat", sans-serif;
	color: white;
}
.STEMlogos img{
	width: 100%;
}


/* GENERAL INFORMATION */
.clock_img{
	max-width: 13%;
}
.dropPin_img{
	max-width:12%
}
.event_info{
	font-family: "Montserrat", sans-serif;
	color: #4C667F;
	opacity: .73;
}


/* EVENT STATIONS */
.station_section{
	padding-top: 52.5px;
	padding-bottom: 52.5px;
}
.station_header{
	font-family: "Montserrat", sans-serif;
	background-color: #4C667F;
	color: white;
}
.blue_stations{
	background-color: #163B5A;
	color: #FDF3A7;
	padding: 5px;
}
.blue_stations p{
	font-size: 12px;
}
.yellow_stations{
	background-color: #FDF3A7;
	color: #4C667F;
	padding: 5px;
}
.yellow_stations p{
	font-size: 12px;
}
.station_number{
	font-family: "Montserrat", sans-serif;
	font-weight: bolder;
}


/* QUOTES */
.quote_img_container {
	background-color: #163B5A;
}
.quote{
	width: 100%;
}


/* LIVE STREAM */
.LiveStream_Section{
	background-color: #FDF3A7;
}
.Logo_header{
	max-width: 100%;
}
.LiveStream_Section h2{
	font-family: "Montserrat", sans-serif;
	font-weight: bolder;
	color: #163B5A;
}
.LiveStream_Section h4{
	font-family: "Montserrat", sans-serif;
	font-weight: bolder;
	color: #4C667F;
	opacity: .73;
}
.LiveStream_imgs img{
	max-width: 100%;
	padding-left: 100px;
	padding-right: 100px;
}
