/* STEAMnasium Modal Landing page */

.modal-content, .modal-body, .modal-header { 
    background-color: #5C7089;
}
.close_button{
	font-family: "Montserrat", sans-serif;
	font-size: 2rem;
	font-weight: normal;
	color: #FDF3A7;
  z-index: 100;
  position: absolute;
  right: 5%;
}

.landing_pg_img img{
  max-width: 100%;
  position: relative;
} 
